<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Design Board</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!--TODO: Make these the minified versions....-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
</body>
</html>
