@using DesignBoard.Model
@model SearchResults


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Backlog</h2>
            @foreach (var item in Model.items)
            {
                <ul>
                    <li>
                        @item.title (<a href="@item.url">link</a>)
                    </li>
                </ul>
            }
        </div>
        <div class="col-md-4">
            <h2>In Design</h2>
        </div>
        <div class="col-md-4">
            <h2>Documenting/ItemCreation</h2>
       </div>
    </div>
